

<hr />
<div style="height: 4rem;"></div>
<div class="navbar" style="display: flex; height: 10rem;">
    <img style="height: inherit; margin-left: 0.5rem;" src="Media/Banner.png" />
    <div style="  display: flex; justify-content: center; align-items: center; margin-left: auto;">
        <button type="button" class="btn error">License</button>
        <button type="button" class="btn error">Discord</button>
        <button type="button" class="btn error">GitHub</button>
    </div>
</div>
@*     <div class="navbar" style="display: flex; height: 4rem;position: fixed; bottom: 0px; justify-content: center;  align-items: center;   ">

    <a style="margin-left: 0.5rem;" >©2026 Freak-Lang-Dev / Unknown Cyberia</a>
    <a style="margin-left: 0.5rem;">Contributor: </a>
        <button type="button" class="btn primary" style="margin-left: 0.5rem;">
        TeRiRi_606
        OttoApocalypse69
    </button>
        <button type="button" class="btn primary" style="margin-left: 0.5rem;">
        Aquamarine Hoshino
        Megamer-studios
    </button>
    </div> *@