<div class="navbar" style="display: flex; height: 10rem;">
<img style="height: inherit; margin-left: 0.5rem;" src="Media/Banner2.png" />
    <div style="  display: flex; justify-content: center; align-items: center; margin-left: auto;">
    <button type="button" class="btn error">Home</button>
    <button type="button" class="btn error">Docs</button>
    <button type="button" class="btn error">GitHub</button>
    </div>
</div>
<hr />
@* <div style="height: fit-content; top: 5rem;  position:absolute;"> *@
 
    @* <h1 style="font-size: 15rem;" class="title">FREAK</h1> *@
@* </div> *@
@* <div class="container">
    <label class="title">FREAK</label>
    <p>Assembly-speed systems language with anime logic, a borrow checker that yells at you in character, and a package manager called Hangar.</p>
</div>
<div class="container dark">
    <label class="title">What is FREAK?</label>
    <p>
        FREAK is a compiled, statically-typed, memory-safe systems language with a syntax inspired by visual novels, anime, and the kind of programming that only makes sense at 3am.
    </p>
</div>
<div class="container light">
    <label class="title">FREAK - Lore</label>
    <p>A programming language written by someone who has watched too much anime and not enough sleep, but somehow it compiles.</p>
</div> *@